korone/config.py
korone/__pycache__/
korone/handlers/__pycache__/
korone/handlers/utils/__pycache__/
korone/database/__pycache__/
korone/database/*.sqlite
korone/*.session
korone/*.session-journal
.vscode/
dist/
