# Python cache
__pycache__/
*.py[cod]
*.pyc

# Config
data/config.env

# Ansible inv
data/*.yaml

# Virtual envirment
.venv/

# IDEs
.vscode/
.idea/

# Localization
sophie.mo

# Test coverage results
allure_results/

# Build
output/

# OpenAPI
openapi.json

# Jetbrains Junie
.output