title = "Korone config example"

[pyrogram]
api_id = 0
api_hash = ""
bot_token = ""
ipv6 = false
workers = 24

[korone]
sudoers = []
logs_channel = 0
backups_channel = 0
reddit_id = ""
reddit_secret = ""
sentry_key = ""
spamwatch_key = ""
modules_path = "korone.modules"
