services:
  telegram-bot-api:
    image: aiogram/telegram-bot-api:latest
    env_file:
      - data/config.env
    environment:
      TELEGRAM_LOCAL: "1"
    volumes:
      - telegram_bot_api_data:/var/lib/telegram-bot-api
    restart: unless-stopped

  postgres:
    image: postgres:18
    environment:
      POSTGRES_DB: korone
      POSTGRES_USER: korone
      POSTGRES_PASSWORD: korone
    volumes:
      - postgres_data:/var/lib/postgresql
    restart: unless-stopped

  redis:
    image: redis:8
    restart: unless-stopped

  bot:
    build: .
    env_file:
      - data/config.env
    environment:
      DB_URL: postgresql+asyncpg://korone:korone@postgres:5432/korone
      REDIS_HOST: redis
      REDIS_PORT: 6379
      BOTAPI_SERVER: http://telegram-bot-api:8081
    depends_on:
      - telegram-bot-api
      - postgres
      - redis
    restart: unless-stopped

volumes:
  postgres_data:
  telegram_bot_api_data:
