[tool.poetry]
name = "korone"
version = "1.5.0"
description = "An interactive and multi-function Telegram bot, made especially for Telegram groups."
authors = ["Hitalo <contact@amanoteam.com>"]
license = "GPLv3+"
readme = "README.md"
repository = "https://github.com/AmanoTeam/PyKorone"
documentation = "https://github.com/AmanoTeam/PyKorone/blob/main/README.md"

keywords = ["chat", "telegram", "telegram-bot", "pyrogram", "bot"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Framework :: AsyncIO",
    "Natural Language :: Portuguese (Brazilian)",
    "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
    "Operating System :: OS Independent",
    "Topic :: Internet",
    "Topic :: Communications",
    "Topic :: Communications :: Chat"
]

exclude = ["korone/config.py", "korone/client.session", "korone/client.session-journal", "korone/database/*.sqlite"]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/AmanoTeam/PyKorone/issues"
"Community" = "https://t.me/SpamTherapy"

[tool.poetry.dependencies]
python = "^3.6.2"
tgcrypto = "1.2.2"
rich = "10.4.0"
Pillow = "8.3.0"
httpx = {version = "0.18.2", extras = ["http2"]}
kantex = "0.2.0"
meval = "2.5"
jikanpy = "4.3.2"
asyncpraw = "7.3.0"
youtube_dl = "2021.6.6"
wheel = "^0.36.2"
gpytranslate = "1.2.0"
wikipedia = {git = "https://github.com/HitaloSama/Wikipedia"}
python-anilist = "1.0.4"
regex = "2021.4.4"
lxml = "4.6.3"
async-files = "0.4"
humanize = "3.9.0"
psutil = "5.8.0"
pyrogram = {git = "https://github.com/AmanoTeam/Pyrogram.git"}
duckpy = {git = "https://github.com/HitaloSama/duckpy"}
pynewton = {git = "https://github.com/HitaloSama/pynewton", rev = "main"}

[tool.poetry.dev-dependencies]
black = "^21.6b0"
flake8 = "^3.9.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
