[tool.poetry]
name = "sophie_bot"
version = "2.3.0"
description = "Sophie is modern and fast Telegram chat manager bot"
authors = ["Yacha <yacha@orangefox.tech>"]

[tool.poetry.dependencies]
python = "^3.11"
Telethon = "^1.24.0"
aiogram = "^3.7.0"
redis = "5.0.6"
motor = "^3.2.0"
dnspython = "^2.1.0"
aiohttp = {extras = ["speedups"], version = "^3.8.1", optional = true}
cryptg = {version = "^0.2.post4", optional = true}
cryptography = {version = "^36.0.2", optional = true}
envparse = "^0.2.0"
aiocron = "^1.8"
APScheduler = "^3.8.1"
requests = "^2.26.0"
ujson = "^5.1.0"
PyYAML = "^6.0"
loguru = "^0.7.0"
sentry-sdk = "^2.5.1"
Babel = "^2.9.1"
captcha = "^0.5"
async-timeout = "^4.0.2"
regex = "^2024.5.15"
pydantic = {extras = ["dotenv"], version = "^2.7.4"}
emoji-country-flag = "^1.3.2"
pydantic-settings = "^2.3.3"

[tool.poetry.extras]
fast = ["aiohttp", "cryptg", "cryptography"]