[tool.poetry]
name = "sophie_bot"
version = "3.12"
description = "Sophie is modern and fast Telegram chat manager bot"
authors = ["Yacha <yacha@orangefox.tech>"]

[tool.poetry.dependencies]
python = "^3.12"
aiogram = "^3.21"
redis = "^6"
motor = "^3.6"
dnspython = "^2.1.0"
ujson = "^5.1.0"
PyYAML = "^6.0"
sentry-sdk = "^2"
Babel = "^2.9.1"
async-timeout = "^5"
regex = "^2025.7"
pydantic = { extras = ["dotenv"], version = "^2" }
emoji-country-flag = "~2"
pydantic-settings = "~2"
structlog = "^25"
stfu-tg = "^3.4"
ass-tg = "2.4.3"
beanie = "^2"
openai = "^1"
lingua-language-detector = "^2.0.2"
numpy = "^2"
unidecode = "^1.3.8"
pillow = "^11.1.0"
mem-top = "^0.2.1"
apscheduler = "^3.11.0"
normality = "2.6.1"
pydantic-ai-slim = { extras = ["openai", "google", "tavily", "mistral"], version = "^0.7" }

[tool.poetry.group.dev.dependencies]
Nuitka = "^2"
pycln = "^2.1"
bandit = "^1.7"
ruff = "^0.6"
devtools = { extras = ["pygments"], version = "~0.12" }
mypy = "^1.11"
types-ujson = "^5.10.0.20240515"
types-pytz = "^2024.1.0.20240417"
pytest-asyncio = "^0.24"
babel = "^2.16.0"
allure-pytest = "^2.13.5"
pytest = "^8.3.5"
fakeredis = "^2.27.0"

[tool.poetry.extras]
fast = ["aiohttp", "cryptg", "cryptography"]

#[tool.poetry.requires-plugins]
#poetry-plugin-export = ">1.8"

[tool.pyright]
exclude = ["**/legacy_modules/", '**/db/models/', '**/legacy_**.py']

[tool.mypy]
ignore_missing_imports = true
exclude = ["legacy_modules", 'legacy_.*.py']
check_untyped_defs = true

[tool.ruff]
line-length = 120
target-version = "py312"

#[tool.ruff.lint]
#select = ["E", "F", "W", "I", "B"]
#ignore = ["E203", "W503"]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
line-ending = "auto"
