[tool.poetry]
name = "sophie_bot"
version = "3.5.0"
description = "Sophie is modern and fast Telegram chat manager bot"
authors = ["Yacha <yacha@orangefox.tech>"]

[tool.poetry.dependencies]
python = "~3.12"
aiogram = "^3.13"
redis = "^5"
motor = "^3.6"
dnspython = "^2.1.0"
APScheduler = "^3.8.1"
ujson = "^5.1.0"
PyYAML = "^6.0"
sentry-sdk = "^2"
Babel = "^2.9.1"
captcha = "^0.6"
async-timeout = "^5"
regex = "^2024.7"
pydantic = { extras = ["dotenv"], version = "^2" }
emoji-country-flag = "~2"
pydantic-settings = "~2"
structlog = "^24"
stfu-tg = "2.3"
ass-tg = "^2.4.1"
beanie = "^1.26.0"
better-exceptions = "^0.3.3"
openai = "^1"
lingua-language-detector = "^2.0.2"
numpy = "^2.1.3"

[tool.poetry.group.dev.dependencies]
Nuitka = "^2"
pycln = "^2.1"
bandit = "^1.7"
flake8 = "~7"
flake8-isort = "~6"
yapf = "~0.40"
devtools = { extras = ["pygments"], version = "~0.12" }
pytest = "^8"
black = "~24"
mypy = "^1.11"
types-ujson = "^5.10.0.20240515"
types-pytz = "^2024.1.0.20240417"
pytest-asyncio = "^0.24"
babel = "^2.16.0"

[tool.poetry.extras]
fast = ["aiohttp", "cryptg", "cryptography"]

[tool.yapf]
based_on_style = "yapf"
indent_width = 4
column_limit = 120

[tool.isort]
profile = "black"

[tool.black]
line-length = 120

[tool.pyright]
exclude = ["**/legacy_modules/", '**/db/models/', '**/legacy_**.py']

[tool.mypy]
ignore_missing_imports = true
exclude = ["legacy_modules", 'legacy_.*.py']
check_untyped_defs = true
