pyrogram==1.1.13
tgcrypto==1.2.2
pyromod==1.5
rich==9.12.4
tortoise-orm==0.16.21
pillow==8.1.0
httpx[http2]==0.17.0
python-rapidjson==1.0
KanTeX==0.2.0
spamwatch==0.3.0
search-engine-parser==0.6.2
meval==2.5
google-trans-new==1.1.9
wikipedia-api==0.5.4
cowpy==1.1.0
jikanpy==4.3.1
asyncpraw==7.2.0
git+https://github.com/aioanilist/aioanilist
git+https://github.com/AndrielFR/aionewton
