TOKEN={{ token }}
USERNAME={{ username }}
#WEBHOOKS_ENABLE=True
#WEBHOOKS_PORT=8073

APP_ID={{ lookup('env', 'APP_ID') }}
APP_HASH={{ lookup('env', 'APP_HASH') }}

MONGO_HOST=mongodb://host.containers.internal:27017
MONGO_DB={{ 'sophie' if lookup('env', 'ROLE') == 'stable' else 'sophie-staging' }}

REDIS_HOST=host.containers.internal
REDIS_PORT=6379
REDIS_DB_FSM=1

OWNER_ID=483808054
OPERATORS=[]

ENVIRONMENT={{ 'production-proxy' if lookup('env', 'ROLE') == 'stable' else 'staging-proxy' }}
PROXY_STABLE_INSTANCE_URL=http://host.containers.internal:8071
PROXY_BETA_INSTANCE_URL=http://host.containers.internal:8072
PROXY_ALWAYS_BETA={{ 'False' if lookup('env', 'ROLE') == 'stable' else 'True' }}

SENTRY_URL={{ sentry_url }}
