MODE=rest
TOKEN={{ token }}

MONGO_HOST=mongodb://host.containers.internal:27017
MONGO_DB=sophie
MONGO_ALLOW_INDEX_DROPPING=False
MONGO_SKIP_INDEXES=True

REDIS_HOST=host.containers.internal
REDIS_PORT=6379
REDIS_DB_FSM=1
API_JWT_SECRET={{ api_jwt_secret }}
API_OPERATOR_TOKEN={{ api_operator_token }}
API_CORS_ORIGINS={{ api_cors_origins }}
ENVIRONMENT={{ 'production' if role == 'production' else 'staging' }}
SENTRY_URL={{ sentry_url }}
METRICS_ENV=rest
