TOKEN={{ token }}
USERNAME={{ username }}
WEBHOOKS_ENABLE=True
WEBHOOKS_PORT=8073
WEBHOOKS_LISTEN=0.0.0.0

APP_ID={{ lookup('env', 'APP_ID') }}
APP_HASH={{ lookup('env', 'APP_HASH') }}

MONGO_HOST=mongodb://host.containers.internal:27017
MONGO_DB=sophie
MONGO_ALLOW_INDEX_DROPPING=False
MONGO_SKIP_INDEXES=True

MEMORY_DEBUG=False

MODULES_NOT_LOAD=[]

REDIS_HOST=host.containers.internal
REDIS_PORT=6379
REDIS_DB_FSM=1

OWNER_ID=483808054
OPERATORS=[]

ENVIRONMENT={{ 'production-beta' if role == 'production' else 'staging-beta' }}
SENTRY_URL={{ sentry_url }}

OPENROUTER_API_KEY={{ openrouter_api_key }}
MISTRAL_API_KEY= {{ mistral_key }}
TAVILY_API_KEY={{ tavily_key }}