[Unit]
Description=Sophie Proxy
Requires=sophie-stable.service sophie-beta.service

[Service]
ExecStartPre=/bin/sleep 30
Restart=always

[Container]
ContainerName=proxy
Image={{ lookup('ansible.builtin.env','IMAGE_NAME', default='registry.gitlab.com/sophiebot/sophie') }}:{{ image_tag }}
PublishPort=8073:8073
PodmanArgs=--memory=256M
EnvironmentFile=/var/sophie/proxy.env

[Install]
WantedBy=multi-user.target default.target
