[Unit]
Description=Sophie Proxy
Requires=mongo.service valkey.service

[Service]
ExecStartPre=/bin/sleep 20
Restart=always

[Container]
ContainerName=beta
Image={{ lookup('ansible.builtin.env','IMAGE_NAME', default='registry.gitlab.com/sophiebot/sophie') }}:{{ lookup('ansible.builtin.env','IMAGE_TAG', default='beta-runtime') }}
PublishPort=8072:8072
PodmanArgs=--memory=256M
EnvironmentFile=/var/sophie/beta.env

[Install]
WantedBy=multi-user.target default.target
