[Unit]
Description=Sophie Stable
Requires=mongo.service valkey.service sophie-beta.service

[Service]
ExecStartPre=/bin/sleep 40
Restart=always

[Container]
ContainerName=stable
Image={{ lookup('ansible.builtin.env','IMAGE_NAME', default='registry.gitlab.com/sophiebot/sophie') }}:{{ image_tag }}
PublishPort=8071:8071
PublishPort=9101:9108
PodmanArgs=--memory=1500M
EnvironmentFile=/var/sophie/stable.env

[Install]
WantedBy=multi-user.target default.target
