TOKEN={{ token }}
USERNAME={{ username }}
WEBHOOKS_ENABLE=True
WEBHOOKS_PORT=8071

APP_ID={{ lookup('env', 'APP_ID') }}
APP_HASH={{ lookup('env', 'APP_HASH') }}

MONGO_HOST=mongodb://host.containers.internal:27017
MONGO_DB={{ 'sophie' if lookup('env', 'FOX_ROLE') == 'stable' else 'sophie-staging' }}

REDIS_HOST=host.containers.internal
REDIS_PORT=6379
REDIS_DB_FSM=1

OWNER_ID=483808054
OPERATORS=[]

SENTRY_URL={{ sentry_url }}
