WIKI_NAME=Sophie wiki
WIKI_SITE_URL=https://sophie-wiki.orangefox.tech

WIKI_COLOR_LIGHT_PRIMARY_50=#F6F2FF
WIKI_COLOR_LIGHT_PRIMARY_100=#EDE6FF
WIKI_COLOR_LIGHT_PRIMARY_200=#DDCCFF
WIKI_COLOR_LIGHT_PRIMARY_300=#C3A6FF
WIKI_COLOR_LIGHT_PRIMARY_400=#A984FF
WIKI_COLOR_LIGHT_PRIMARY_500=#8F6BFF
WIKI_COLOR_LIGHT_PRIMARY_600=#7B57E8
WIKI_COLOR_LIGHT_PRIMARY_700=#6A49D4
WIKI_COLOR_LIGHT_PRIMARY_800=#5A3CBF
WIKI_COLOR_LIGHT_PRIMARY_900=#4A319F

WIKI_COLOR_LIGHT_NEUTRAL_100=#F7F4FA
WIKI_COLOR_LIGHT_NEUTRAL_200=#EDE7F2
WIKI_COLOR_LIGHT_NEUTRAL_300=#D5CFE1
WIKI_COLOR_LIGHT_NEUTRAL_400=#B9B0C7
WIKI_COLOR_LIGHT_NEUTRAL_500=#9C93AC
WIKI_COLOR_LIGHT_NEUTRAL_600=#6F6980
WIKI_COLOR_LIGHT_NEUTRAL_700=#504E62
WIKI_COLOR_LIGHT_NEUTRAL_800=#373648
WIKI_COLOR_LIGHT_NEUTRAL_900=#222130

WIKI_COLOR_DARK_PRIMARY_50=#F4F0FF
WIKI_COLOR_DARK_PRIMARY_100=#E6DDFF
WIKI_COLOR_DARK_PRIMARY_200=#CDBDFF
WIKI_COLOR_DARK_PRIMARY_300=#B39CFF
WIKI_COLOR_DARK_PRIMARY_400=#9A7DFF
WIKI_COLOR_DARK_PRIMARY_500=#8366FF
WIKI_COLOR_DARK_PRIMARY_600=#6E54E6
WIKI_COLOR_DARK_PRIMARY_700=#5C46CF
WIKI_COLOR_DARK_PRIMARY_800=#4D3AB5
WIKI_COLOR_DARK_PRIMARY_900=#3E2F93

WIKI_COLOR_DARK_NEUTRAL_100=#F1EFF6
WIKI_COLOR_DARK_NEUTRAL_200=#E1DDEE
WIKI_COLOR_DARK_NEUTRAL_300=#C1BCD6
WIKI_COLOR_DARK_NEUTRAL_400=#A29DBB
WIKI_COLOR_DARK_NEUTRAL_500=#8883A1
WIKI_COLOR_DARK_NEUTRAL_600=#5E5A78
WIKI_COLOR_DARK_NEUTRAL_700=#43415A
WIKI_COLOR_DARK_NEUTRAL_800=#2E2C40

WIKI_HEADER_LINKS="Sophie bot|https://t.me/rSophieBot|external"