[Unit]
Description=Sophie Wiki

[Service]
Restart=always

[Container]
ContainerName=swiki
Image={{ image_name }}:{{ image_tag }}
PublishPort=8079:3000
PodmanArgs=--memory=512M
Volume=/var/sophie/wiki_docs/:/docs:ro,z
EnvironmentFile=/var/sophie/swiki.env

[Install]
WantedBy=multi-user.target default.target
