---
- name: Deploy all containers to hosts
  hosts: "{{ ansible_limit | default('all') }}"
  tasks:
    - name: Set vars for Staging
      set_fact:
        token: "{{ lookup('env', 'BETA_TOKEN') }}"
        username: "{{ lookup('env', 'BETA_USERNAME') }}"
        sentry_url: "{{ lookup('env', 'STAGING_SENTRY') }}"
        role: "staging"
      when: inventory_hostname == "sstaging"

    - name: Set vars for Prod
      set_fact:
        token: "{{ lookup('env', 'STABLE_TOKEN') }}"
        username: "{{ lookup('env', 'STABLE_USERNAME') }}"
        sentry_url: "{{ lookup('env', 'PROD_STABLE_SENTRY') }}"
        role: "production"
      when: inventory_hostname == "white"

    - name: Login to registry
      containers.podman.podman_login:
        username: "{{ lookup('ansible.builtin.env','CI_REGISTRY_USER') }}"
        password: "{{ lookup('ansible.builtin.env','CI_REGISTRY_PASSWORD') }}"
        registry: registry.gitlab.com

    - name: Update Beta podman image
      containers.podman.podman_image:
        name: "{{ lookup('ansible.builtin.env','IMAGE_NAME') }}"
        tag: "{{ lookup('ansible.builtin.env','IMAGE_TAG') }}"
        force: true

    - name: Update Stable podman image
      containers.podman.podman_image:
        name: "{{ lookup('ansible.builtin.env','IMAGE_NAME') }}"
        tag: "stable"
        force: true

    - name: Update Proxy podman image
      containers.podman.podman_image:
        name: "{{ lookup('ansible.builtin.env','IMAGE_NAME') }}"
        tag: "proxy-runtime"
        force: true

    - name: Copy Beta container quadlet file
      vars:
        image_tag: "{{ lookup('ansible.builtin.env','IMAGE_TAG') }}"
      ansible.builtin.template:
        src: sophie-beta.container.j2
        dest: /home/containers/.config/containers/systemd/sophie-beta.container
        owner: containers
        group: containers
        mode: u=rw,g=r,o=r

    - name: Copy Stable container quadlet file
      vars:
        image_tag: "stable"
      ansible.builtin.template:
        src: sophie-stable.container.j2
        dest: /home/containers/.config/containers/systemd/sophie-stable.container
        owner: containers
        group: containers
        mode: u=rw,g=r,o=r

    - name: Copy Proxy container quadlet file
      vars:
        image_tag: "proxy-runtime"
      ansible.builtin.template:
        src: sophie-proxy.container.j2
        dest: /home/containers/.config/containers/systemd/sophie-proxy.container
        owner: containers
        group: containers
        mode: u=rw,g=r,o=r

    - name: Copy Beta env file
      ansible.builtin.template:
        src: beta.env.j2
        dest: /var/sophie/beta.env
        owner: containers
        group: containers
        mode: u=rw,g=r,o=r

    - name: Copy Stable env file
      ansible.builtin.template:
        src: stable.env.j2
        dest: /var/sophie/stable.env
        owner: containers
        group: containers
        mode: u=rw,g=r,o=r

    - name: Copy Proxy env file
      ansible.builtin.template:
        src: proxy.env.j2
        dest: /var/sophie/proxy.env
        owner: containers
        group: containers
        mode: u=rw,g=r,o=r

    - name: Stop Proxy container
      ansible.builtin.systemd_service:
        scope: user
        state: stopped
        name: sophie-proxy

    - name: Restart Beta container
      ansible.builtin.systemd_service:
        scope: user
        state: restarted
        daemon_reload: true
        name: sophie-beta

    - name: Restart Stable container
      ansible.builtin.systemd_service:
        scope: user
        state: restarted
        daemon_reload: true
        name: sophie-stable

    - name: Restart Proxy container
      ansible.builtin.systemd_service:
        scope: user
        state: restarted
        daemon_reload: true
        name: sophie-proxy
