variables:
  IMAGE_NAME: "$CI_REGISTRY_IMAGE"
  BRANCH: "$CI_COMMIT_BRANCH"

deploy_prod_beta:
  stage: deploy
  image: willhallonline/ansible:2.16.4-alpine-3.18
  before_script:
    - cp $SSHKEY /tmp/sshkey
    - chmod 600 /tmp/sshkey
  script:
    - ansible-playbook -i "$ANSIBLE_INV" deploy/beta.yml --limit sprod
  environment:
    name: prod
  only:
    - beta
    - test_ci
    - test-ci
  when: manual


deploy_prod_stable:
  stage: deploy
  image: willhallonline/ansible:2.16.4-alpine-3.18
  before_script:
    - cp $SSHKEY /tmp/sshkey
    - chmod 600 /tmp/sshkey
  script:
    - ansible-playbook -i "$ANSIBLE_INV" deploy/stable.yml --limit sprod
  environment:
    name: prod
  only:
    - stable
    - test_ci
    - test-ci
  when: manual
