deploy_staging_all:
  variables:
    IMAGE_NAME: "$CI_REGISTRY_IMAGE"
    IMAGE_TAG: "$CI_COMMIT_BRANCH-runtime"
  stage: deploy
  image: willhallonline/ansible:2.16.4-alpine-3.18
  before_script:
    - cp $SSHKEY /tmp/sshkey
    - chmod 600 /tmp/sshkey
  script:
    - ansible-playbook -i "$ANSIBLE_INV" deploy/all.yml --limit staging
  environment:
    name: staging
