variables:
  IMAGE_NAME: "$CI_REGISTRY_IMAGE"
  BRANCH: "$CI_COMMIT_BRANCH"

deploy_staging_all:
  stage: deploy
  image: willhallonline/ansible:2.16.4-alpine-3.18
  before_script:
    - cp $SSHKEY /tmp/sshkey
    - chmod 600 /tmp/sshkey
  script:
    - ansible-playbook -i "$ANSIBLE_INV" deploy/all.yml --limit sstaging
  environment:
    name: staging
  only:
    - stable
    - beta
    - dev
    - /^dev_.*$/
    - test_ci
    - test-ci

deploy_prod_all:
  stage: deploy
  image: willhallonline/ansible:2.16.4-alpine-3.18
  before_script:
    - cp $SSHKEY /tmp/sshkey
    - chmod 600 /tmp/sshkey
  script:
    - ansible-playbook -i "$ANSIBLE_INV" deploy/all.yml --limit sprod
  environment:
    name: prod
  only:
    - stable
    - beta
    - test_ci
    - test-ci
  when: manual