- name: Update Proxy podman image
  containers.podman.podman_image:
    name: "{{ lookup('ansible.builtin.env','IMAGE_NAME') }}"
    tag: "proxy-runtime"
    force: true

- name: Copy Proxy container quadlet file
  vars:
    image_tag: "proxy-runtime"
  ansible.builtin.template:
    src: sophie-proxy.container.j2
    dest: /home/containers/.config/containers/systemd/sophie-proxy.container
    owner: containers
    group: containers
    mode: u=rw,g=r,o=r

- name: Copy Proxy env file
  ansible.builtin.template:
    src: proxy.env.j2
    dest: /var/sophie/proxy.env
    owner: containers
    group: containers
    mode: u=rw,g=r,o=r

- include_tasks: tasks/start_proxy.yml
