- name: Ensure /var/sophie/data exists
  ansible.builtin.file:
    path: /var/sophie/data
    state: directory
    owner: containers
    group: containers
    mode: '0755'

- name: Update Beta branch podman image
  containers.podman.podman_image:
    name: "{{ lookup('ansible.builtin.env','IMAGE_NAME') }}"
    tag: "beta-runtime"
    force: true

- name: Copy Current branch container quadlet file
  vars:
    image_tag: "beta-runtime"
  ansible.builtin.template:
    src: sophie-beta.container.j2
    dest: /home/containers/.config/containers/systemd/sophie-beta.container
    owner: containers
    group: containers
    mode: u=rw,g=r,o=r

- name: Copy Beta env file
  ansible.builtin.template:
    src: beta.env.j2
    dest: /var/sophie/beta.env
    owner: containers
    group: containers
    mode: u=rw,g=r,o=r

- name: Restart Beta container
  ansible.builtin.systemd_service:
    scope: user
    state: restarted
    daemon_reload: true
    name: sophie-beta