from typing import List

# Bot token from Bot Father
TOKEN: str = "TOKEN_HERE"

# Your API ID and API HASH
# Get it from https://my.telegram.org/apps
API_ID: int = 123123
API_HASH: str = ""

# Sudoers IDs (to use some special commands)
OWNER: int = 918317361
SUDOERS: List[int] = []
SUDOERS.append(OWNER)

# Channel to log some things
LOGS_CHANNEL: int = -100

# Prefixes for commands, e.g: /start and !start
PREFIXES: List[str] = ["/", "!"]

# SpamWatch API used for automatic bans
# Get it from https:/t.me/SpamWatchBot
SW_API: str = ""

# Required to use Reddit-related commands
# Get it from https://www.reddit.com/prefs/apps
REDDIT_SECRET: str = ""
REDDIT_ID: str = ""

# Used for sentry.io (errors telemetry)
# Leaves blank to disable
SENTRY_KEY: str = ""
