# Bot token from Bot Father
TOKEN = "TOKEN_HERE"

# Your API ID and API HASH
# Get it from https://my.telegram.org/apps
API_ID = 123123
API_HASH = ""

# Sudoers IDs (to use some special commands)
OWNER = 918317361
SUDOERS = []
SUDOERS.append(OWNER)

# Prefixes for commands, e.g: /start and !start
prefix = ["/", "!"]

# SpamWatch API used for automatic bans
# Get it from https:/t.me/SpamWatchBot
SW_API = ""

# Required to use Reddit-related commands
# Get it from https://www.reddit.com/prefs/apps
REDDIT_SECRET = ""
REDDIT_ID = ""
